*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 70px;
  background-color: blue;
}


/*sezioni grandi*/
.big{
  height: 400px;
  border: 1px solid black;
}

/*sezioni piccole*/
 .small{
  height: 70px;
  border: 1px solid black;
}

/*tutte le colonne*/
.column{
    border: 1px solid black;
}

/*colonne di sezioni grandi*/
.big .column{
  height: 400px;
}

/*colonne di sezioni piccole*/
.small .column{
  height: 70px;
}

.two-columns .column{
  width: 50%;
  float:left;
}

.three-columns .column{
  float:left;
  width: 33.3%;
}


#row:after{
  content: "";
  display: table;
  clear:both
}

.bk-white{
  background-color: white;
}

.bk-blue{
  background-color: blue;
}

.bk-grey{
  background-color: grey;
}

footer{
  height:250px;
  background-color: blue;
}
