*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*sezioni grandi*/
.big{
  height: 400px;
}

/*sezioni piccole*/
 .small{
  height: 70px;
}

/*tutte le colonne*/
.column{
    border: 1px solid black;
    position: relative;
}

/*colonne di sezioni grandi*/
.big .column{
  height: 400px;
}

/*colonne di sezioni piccole*/
.small .column{
  height: 70px;
}

/*due colonne*/
.two-columns .column{
  width: 50%;
  float:left;
}

/*tre colonne*/
.three-columns .column{
  float:left;
  width: 33.3%;
}

/*clearfix*/
#row:after{
  content: "";
  display: table;
  clear:both
}

/*elementi centrati*/
.centered{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*regole per il testo*/

/*colori del testo*/
.text-white{
  color: white;
}

.text-grey{
  color: grey;
}

.text-green{
  color: green;
}

/*testo centrato*/
.text-align-center{
  text-align: center;
}

/*colori di sfondo*/
.bk-white{
  background-color: white;
}

.bk-blue{
  background-color: blue;
}

.bk-grey{
  background-color: rgb(207, 207, 207);
}

.bk-green{
  background-color: greenyellow;
}


/*regole per le immagini*/
.img-small{
  height:100px;
  width: 100px;
}


